.wrapper {
  width: 80%;
  margin: 0 auto;
}

.logo {
  text-align: center;
  font-size: 3rem;
  background: black;
  color: white;
  width: 200px;
  margin: 50px auto;
  padding: 10px;
}

ul {
  list-style:none;
}

.card {
  background: #eee;
  padding: 10px 20px;
  margin: 10px 0;
  box-shadow: 2px 4px 8px #aaa;
}

.card-heading {
  font-size: 2rem;
  text-align: center;
}

.card-text {
  font-size: 1.2rem;
}
